@font-face {
    font-family: FEH;
    src: url(./assets/font.woff2);
}

html {
    font-size: 20px;
}

.defensive-image, .trench-image {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.display-cell {
    display: unset;
    top: 0;
    left: 0;
}

.defensive-image.display, .trench-image.display {
    display: unset;
}

.section {
    background-image: url("./assets/title-bg.png");
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
}

.tile-type-label {
    text-align: center;
}

.tile-property {
    display: none;
}

h4 {
    margin: 0;
    margin-top: 10px;
}

.tile-property:not(:disabled) + label {
    cursor: pointer;
}

.tile-property + label * {
    vertical-align: middle;
}

.tile-property + label .checkbox-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.tile-property + label .checkbox-img {
    background-image: url("./assets/checkbox-unchecked.png");
}

.tile-property:checked + label .checkbox-img {
    background-image: url("./assets/checkbox.png");
}

.tile-property:disabled + label .checkbox-img {
    filter: grayscale(1) brightness(50%);
}

.tile-button:hover, .tile-type:checked + label {
    background-image: url("./assets/button-background.png");
    background-size: 130% 110%;
    background-repeat: no-repeat;
    background-position: -14px;
    cursor: pointer;
}

.tile-button {
    font-family: FEH;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    /* border-image: linear-gradient(#3CD6FE, #B0FBFF) 60; */
    border: none;
    padding: 30px;
    border-radius: 10px;
}

.square {
    height: 88px;
    width: 88px;
    position: relative;
}

#map {
    max-width: fit-content;
    max-height: fit-content;
    padding: 8px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #648b90ff 0%, #2f4c56ff 9%, #75553cff 19%, #c5a481ff 36%, #f1d99fff 41%, #f8f1deff 49%, #f1d99fff 55%, #c5a481ff 62%, #75553cff 81%, #2f4c56ff 91%, #608d93ff 100%);
    background-color: #628a8e;
    outline: 1px solid black;
}

#map-editor-bg {
    background-color: #85a3a799;
    padding: 24px;
    outline: 1px solid black;
}

#map-container {
    outline: solid 1px #f9f4e399;
    border-radius: 8px;
    background-color: #27393bcc;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr); 
    box-shadow: inset 2px 2px 8px 0px #00000080;
}

#map-tools {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.prompt {
    color: white;
    font-size: 2rem;
}

#map-bg {
    position: absolute;
    z-index: -1;
    height: 720px;
    width: 540px;
    margin-bottom: 50px;
}

#prompt-input {
    color: white;
    font-size: 1.7rem;
}

#load-map {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    display: flex;
    justify-content: space-around;
    background-image: url("./assets/bg.png");
    overflow-x: hidden;
    font-family: FEH;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.map-params {
    min-width: 20vw;
    border-radius: 6px;
}

.starting-tile {
    border-radius: 6px;
}

.map-tile {
    height: 92px;
    width: 92px;
    padding: 0;
    background: none;
    outline: none;
    border: 1px solid white;
}

.wall {
    background-color: rgba(141, 147, 149, 0.4);
}

.void {
    background-color: rgba(245, 60, 50, 0.4);
}

.forest {
    background-color: rgba(41, 193, 85, 0.4);
}

.ground {
    background-color: rgba(255, 255, 255, 0.6);
}

.tile-type {
    width: 0;
    height: 0;
    display: none;
}

.tile-type + label {
    display: inline-block;
    width: fit-content;
    padding: 10px;
}

.tile-type + label:hover {
    cursor: pointer;
}

.map-tile:hover {
    background-image: url("./assets/tile-highlight.png");
    background-repeat: no-repeat;
    cursor: pointer;
    filter: none;
}

.team-slot-selector {
    display: flex;
    gap: 20px;
    width: 100%;
}

.summoner {
    width: 90px;
}

.action-container {
    margin-top: 6px;
}

.command-button {
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    border: none;
    font-weight: 600;
}

#export {
    background-color: #54DFF4;
    cursor: pointer;
}

#export:hover {
    background-color: #43b1c2;
}

#save {
    color: white;
    background-color: #FA4D69;
    margin-right: 6px;
    cursor: pointer;
}

hr {
    background-image: url("./assets/separator.png");
    background-size: contain;
    height: 2px;
    border: none;
}

#save:hover {
    background-color: #d33f58;
}

.team-slot-button {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 16px;
}

input[name='team-slot']:hover + label, input[name='team-slot']:checked + label {
    background-image: url("./assets/button-background.png");
    background-size: 130% 110%;
    background-repeat: no-repeat;
    background-position: -14px;
    cursor: pointer;
}

.team-slot {
    display: none;
}

.save-button {
    background-image: url("./assets/save-button.png");
    padding: 10px 70px;
    background-color: transparent;
    border: none;
    background-size: cover;
    color: inherit;
}